//! VARIABLES

$background: #d9d9d9;
$foreground: #ffffff;
$backgroundDark: #747474;
$backgroundLight: #ededed;
$textcolor: black;
$green: #009933;
$greenMuted: rgba(0, 153, 53, 0.1);
$textMuted: #828282;
$maxWidth: 1060px;
$minWidth: 480px;
$bar1Height: 30px;
$bar1Icons: 25px;
$bar2Height: 60px;
$bar2Icons: 47px;
$bookLHeight: 200px;
// $defaultMargin: 20px;
$defaultMargin: 1.25rem;
$defaultRadius: 10px;

//! FUNCTIONS

@mixin Flextemplate {
  display: flex;
  max-width: $maxWidth;
  align-items: center;
  margin: 0 auto;
}

@mixin BodyTemplate {
  min-width: $minWidth;
  max-width: $maxWidth;
  margin: 0 auto;
  padding-top: $defaultMargin/2;
  background-color: $foreground;
  border-radius: $defaultRadius $defaultRadius 0 0;
}

//! GLOBAL STYLES

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
} /*16px*/

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  background: $background;
  color: black;
  line-height: 1.5;
  font-size: 14px;
  /* -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; */
  // text-transform: capitalize;
}

a {
  text-decoration: none;
  color: $textcolor;
  cursor: pointer;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
li {
  padding: 0;
  margin: 0;
}
h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  // margin-bottom: 1.25rem;
  color: var(--clr-grey-5);
}
button,
select {
  cursor: pointer;
}

//! HEADER

.aboutBar {
  @include Flextemplate();
  justify-content: space-between;
  background-color: $backgroundDark;
  height: $bar1Height;
  padding: 0 $defaultMargin/2;
  min-width: 460px;
  border-radius: 0 0 $defaultRadius $defaultRadius;

  .gitHubLink {
    display: flex;
    align-items: center;
    gap: $defaultMargin/2;

    p {
      margin-bottom: 2px;
      color: $foreground;
    }
  }

  svg {
    // width: 100%;
    height: 20px;
    width: auto;
  }
}

.mainHeader {
  @include Flextemplate();
  justify-content: space-between;
  gap: 10px;
  height: $bar2Height;
  padding: 0 $defaultMargin/2;

  #logo {
    height: auto;
    width: 76px;
    // height: 47px;
    // width: auto;
  }

  p {
    font-size: 16px;
    letter-spacing: 0.5px;
  }

  .searchMenu {
    display: flex;
    min-width: 200px;
    max-width: 420px;
    align-items: center;
    height: 35px;

    .selectionBox {
      height: inherit;
      min-width: 60px;

      select {
        display: block;
        height: inherit;
        border: 0;
        border-radius: $defaultRadius 0 0 $defaultRadius;
        background: $backgroundLight;
        padding-left: 5px;
        font-size: 14px;
        min-width: inherit;
      }
    }

    button {
      height: inherit;
      width: 35px;
      background: $foreground;
      border: 0;
      border-radius: 0 $defaultRadius $defaultRadius 0;

      svg {
        height: 17px;
        width: 17px;
      }
    }
    input {
      height: inherit;
      width: 293px;
      min-width: 100px;
      border: 0;
      padding-left: $defaultMargin/2;
    }
  }
}

//! HOME PAGE

.mainPage {
  @include BodyTemplate();

  .listFragment:nth-child(even) {
    background-color: $greenMuted;
  }

  .listFragment {
    display: block;
    max-width: inherit;
    min-width: inherit;
    margin: $defaultMargin;
    padding: $defaultMargin/2 $defaultMargin;

    h3 {
      font-weight: 400;
    }
    img {
      max-width: 180px !important;
      height: 200px !important;
      object-fit: cover;
    }

    // .categorySlider {
    //   @include Flextemplate();
    //   justify-content: space-between;

    //   .sliderBtn {
    //     background-color: transparent;
    //     border: 0;

    //     svg {
    //       height: 22px;
    //       width: auto;
    //     }
    //   }

    //   .booksSliderList {
    //     @include Flextemplate();
    //     padding: $defaultMargin/2 $defaultMargin;
    //     flex-grow: 1;
    //     justify-items: flex-start;
    //     flex-direction: row;
    //     gap: $defaultMargin;
    //     overflow-y: hidden;
    //     overflow-x: auto;
    //     scroll-behavior: smooth;
    //     transform: transition 450ms;

    //     .booksImg {
    //       flex-grow: 0;
    //       flex: none;
    //     }
    //     .booksImg:hover {
    //       transform: scale(1.1);
    //     }
    //   }
    // }
  }
}

//! SINGLE BOOK PAGE
.singleBookPage {
  @include BodyTemplate();
  padding: $defaultMargin $defaultMargin * 1.5;

  .bookView {
    gap: $defaultMargin;
    @include Flextemplate();
    align-items: flex-start;

    img {
      object-fit: cover;
      height: 400px;
      max-width: 300px;
    }
  }
  .textInfo {
    padding-top: $defaultMargin;

    p {
      //? HOW TO ALIGN IT TO THE RIGHT!?!?!
    }
  }
}
