*,
::after,
::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 100%;
}

/*16px*/
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  background: #d9d9d9;
  color: black;
  line-height: 1.5;
  font-size: 14px;
  /* -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; */
}

a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 0.875rem;
}

p {
  color: var(--clr-grey-5);
}

button,
select {
  cursor: pointer;
}

.aboutBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1060px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #747474;
  height: 30px;
  padding: 0 0.625rem;
  min-width: 460px;
  border-radius: 0 0 10px 10px;
}

.aboutBar .gitHubLink {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.625rem;
}

.aboutBar .gitHubLink p {
  margin-bottom: 2px;
  color: #ffffff;
}

.aboutBar svg {
  height: 20px;
  width: auto;
}

.mainHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1060px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 10px;
  height: 60px;
  padding: 0 0.625rem;
}

.mainHeader #logo {
  height: auto;
  width: 76px;
}

.mainHeader p {
  font-size: 16px;
  letter-spacing: 0.5px;
}

.mainHeader .searchMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 200px;
  max-width: 420px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 35px;
}

.mainHeader .searchMenu .selectionBox {
  height: inherit;
  min-width: 60px;
}

.mainHeader .searchMenu .selectionBox select {
  display: block;
  height: inherit;
  border: 0;
  border-radius: 10px 0 0 10px;
  background: #ededed;
  padding-left: 5px;
  font-size: 14px;
  min-width: inherit;
}

.mainHeader .searchMenu button {
  height: inherit;
  width: 35px;
  background: #ffffff;
  border: 0;
  border-radius: 0 10px 10px 0;
}

.mainHeader .searchMenu button svg {
  height: 17px;
  width: 17px;
}

.mainHeader .searchMenu input {
  height: inherit;
  width: 293px;
  min-width: 100px;
  border: 0;
  padding-left: 0.625rem;
}

.mainPage {
  min-width: 480px;
  max-width: 1060px;
  margin: 0 auto;
  padding-top: 0.625rem;
  background-color: #ffffff;
  border-radius: 10px 10px 0 0;
}

.mainPage .listFragment:nth-child(even) {
  background-color: rgba(0, 153, 53, 0.1);
}

.mainPage .listFragment {
  display: block;
  max-width: inherit;
  min-width: inherit;
  margin: 1.25rem;
  padding: 0.625rem 1.25rem;
}

.mainPage .listFragment h3 {
  font-weight: 400;
}

.mainPage .listFragment .mySlider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mainPage .listFragment img {
  height: 200px !important;
  -o-object-fit: cover;
     object-fit: cover;
}

.singleBookPage {
  min-width: 480px;
  max-width: 1060px;
  margin: 0 auto;
  padding-top: 0.625rem;
  background-color: #ffffff;
  border-radius: 10px 10px 0 0;
  padding: 1.25rem 1.875rem;
}

.singleBookPage .bookView {
  gap: 1.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1060px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.singleBookPage .bookView img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 400px;
  max-width: 300px;
}

.singleBookPage .textInfo {
  padding-top: 1.25rem;
}
/*# sourceMappingURL=index.css.map */