body {
  background-color: antiquewhite;
  /* background-color: rgb(197, 197, 197); */
  /* background-color: rgb(177, 176, 176); */
  margin: 0;
  padding: 0;
  .map {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    svg {
      width: inherit;
      height: inherit;
      path {
        fill: rgb(179, 179, 179) !important;
      }
      // height: 300%;
      // width: 300%;
      path:hover {
        fill: rgb(83, 81, 81) !important;
      }
      // #brasil_svg__mato_grosso:hover {
      //   fill: url("https://image.winudf.com/v2/image1/Y29tLmZpcmV3aGVlbC5ibGFja3NjcmVlbl9zY3JlZW5fMF8xNTgyNjgwMjgzXzA2MQ/screen-0.jpg?h=500&fakeurl=1&type=.jpg") !important;
      // }
    }

    // .Brazilian_States_svg__str0 {
    //   svg path:hover {
    //     fill: red !important;
    //   }
    // }
    // #Brazilian_States_svg__path56::hover {
    //   color: red;
    // }
  }
  // map::after {
  //   color: red;
  // }
}
